<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/admin/style.css">
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-database.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script> -->
    
    <!-- <link rel="stylesheet" href="/style/feedback.css"> -->

    
</head>
<body style="background-color: #47d666">
    <div class="container wrapper" id="login_div">
            <form name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading">Bamboo!</h3>
                <input type="text" class="form-control empty" id= "email" name="email" placeholder="&#61447; User name" required="" autofocus="" />
                <input type="password" class="form-control empty" id="password" name="password" placeholder="&#61475; Password" required=""/>
                <input class="btn btn-lg btn-primary btn-block" onclick="login()" value="Login"/>     
                <!-- <input type="button" class="btn btn-lg btn-primary btn-block" onclick="forgot()" value="Forgot password?"/> -->
                
            </form>
    </div>
    


</body>
<script src="/javascript/config.js"></script>
<script src="/javascript/admin.js"></script>
<!-- <script src="/javascript/feedback.js"></script> -->
</html>