/* @import url('https://fonts.googleapis.com/css?family=Bangers'); */

body {
  font-family: "Raleway", sans-serif;
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.center {
  margin: auto;
  margin-top: 20px;
  width: 100%;
}

.centering {
  text-align: center;
  margin: auto;
  width: 50%;
}

.search-input {
  text-align: center;
  margin: auto;
  width: 50%;
  background-color: white;
  border-radius: 0.5rem;

  -webkit-box-shadow: 0px 10px 16px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 10px 16px 1px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 10px 16px 1px rgba(0, 0, 0, 0.65);

  margin-bottom: 1rem;
}

/* Alert */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.alert-containers {
  position: fixed;
  left: 0px;
  top: 0px;
  height: auto;
  width: 100%;
}

.school {
  font-family: inherit;
}

.vehicle {
  font-family: inherit;
}

/* ------------- */

.row {
  display: flex;
  justify-content: center;
}

.item {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 40em;
  margin: 1em;
  padding: 1em;
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 10px 16px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 10px 16px 1px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 10px 16px 1px rgba(0, 0, 0, 0.65);
}

.red {
  color: white;
  background-color: red;
}

.item:hover {
  background-color: lightgreen;
  color: black;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

/* ------------- */

.logo {
  text-align: center;
  color: black;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0px 12px 17px rgba(0, 0, 0, 0.85);
}

@keyframes bgcolor {
  0% {
    background-color: #47d666;
  }

  30% {
    background-color: #6cd654;
  }

  60% {
    background-color: #9ad04c;
  }

  90% {
    background-color: #c1df51;
  }

  100% {
    background-color: #cbdd6e;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo {
    font-size: 5rem;
  }

  .search-input {
    font-size: 2rem;
  }
  /*

  .item {
    font-size: 2rem;
  }
  

  .footer {
    font-size: 1.3rem;
  } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    font-size: 7rem;
  }

  .search-input {
    font-size: 5rem;
  }
  /* 

  .item {
    font-size: 5rem;
  }
  

  .footer {
    bottom: 1.3rem;
    font-size: 2rem;
  } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .center {
    margin-top: 10%;
  }

  .logo {
    font-size: 8rem;
  }

  .search-input {
    width: 40%;
    font-size: 2rem;
  }
  /* 
  
    .item {
      width: 40%;
      font-size: 2rem;
    }


  .footer {
    bottom: 1.3rem;
    font-size: 2rem;
  } */
}
#myBtn {
  display: block;
  position: fixed;
  top: 200px;
  right: -1px;
}
#myBtn:hover {
  background: #030;
  border: 1px solid #030;
}
.btn-group-lg > .btn,
.btn-lg {
  float: right;
  background: #79c879;
  color: white;
}
