/* body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
   */
   @import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
   body {
    font-family: 'Raleway', sans-serif;
    -webkit-animation: bgcolor 5s infinite;
    animation: bgcolor 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
  a {
    color: #00B7FF;
  }
  
  .wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  
  .form-signin {
    max-width: 500px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: white;
    /* border: 3px dotted rgba(0,0,0,0.1); */
  }
  
  .form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
  }
  
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    
  }
  input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
 }
  input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  @keyframes bgcolor {
    0% {
        background-color: #47d666
    }

    30% {
        background-color: #6cd654
    }

    60% {
        background-color: #9ad04c
    }

    90% {
        background-color: #c1df51
    }

    100% {
        background-color: #cbdd6e
    }
}
#myBtn { 
  display:block; 
  position:fixed; 
  top:200px; 
  right:-1px;
}
#myBtn:hover{background:#030;border:1px solid #030;}

