<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
    <span class="close">&times;</span>

  <form id="feedbackForm">
  <div class="form-header-group " >
    <div class="header-text httac htvam">
      <h1 id="header_1" class="form-header" data-component="header">
        Send us your feedback!
      </h1>
      <div class="alert" id="send">Your Feedback has been sent! Thank you.</div>
      <div id="subHeader_1" class="form-subHeader">
        We would love to hear your thoughts, concerns or problems with anything so we can improve!
      </div>
      <div class="alert" id="empty">Please complete required fields. Thank you :)</div>
      
    </div>
  </div>
<!-- </li> -->
<!-- <li class="form-line" data-type="control_radio" id="id_3"> -->
  <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> How was your experience? </label>
  <div class="pagination">
      <ul id="point">
        <li value="1"><a >1</a></li>
        <li value="2"><a >2</a></li>
        <li value="3"><a >3</a></li>
        <li value="4"><a >4</a></li>
        <li value="5"><a >5</a></li>
        <li value="6"><a >6</a></li>
        <li value="7"><a >7</a></li>
        <li value="8"><a >8</a></li>
        <li value="9"><a >9</a></li>
        <li value="10"><a >10</a></li>
      </ul>
      
    </div> <!-- /pagination -->
<!-- </li> -->
<!-- <li class="form-line jf-required" data-type="control_textarea" id="id_4"> -->
  <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4">
    Describe Feedback
    <span class="form-required" style="color: red">
      *
    </span>
  </label>
  <div id="cid_4" class="form-input-wide jf-required">
    <textarea id="input_feedback" class="form-textarea validate[required]" name="q4_describeFeedback" cols="40" rows="6" data-component="textarea" required=""></textarea>
  </div>
  <div class="form-group form-required">
      <label for="InputEmail">Email address</label>
      <span class="form-required" style="color: red">
          *
        </span>
      <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" required="">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll share your email with anyone else.</small> -->

  </div>
  
  
  <!-- <div id="errorAlert">You need to first correct your invalid inputs before you can submit.</div> -->
<!-- </li> -->
<!-- <li class="form-line" data-type="control_button" id="id_2"> -->
    <div class="row">
        <div class="col-sm-12 form-group">
            <button type="submit" onclick="sendFeedback()" class="btn btn-lg btn-default pull-right" >Send <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </div>
    </div>
  <!-- <div id="cid_2" class="form-input-wide">
    <div class="form-buttons-wrapper">
      <button id="sendFeed" onclick="sendFeedback()" class="form-submit-button form-submit-button-simple_blue" >
        Submit Feedback
      </button>
    </div>
  </div> -->
</form>
<!-- </li> -->
<!-- <li style="display:none">
  Should be Empty:
  <input type="text" name="website" value="" />
</li> -->
<!-- </ul> -->
<!-- </div> -->


<!-- </form> -->
</div>

</div>