<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>Host Game View - Lobby <%= roomID%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="/style/host/gameView.css" />

        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 

    </head>
    <body>
        <div id="playing">
            <div class="pos-f-t">
              <nav class="navbar navbar-dark bg-dark">
                <div class="col-md-12 text-center">
                <h1 class="h1" style="color:#fff;" id="questionNumber"></h1> 
                </div>
              </nav>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" id="progressBar" style="width:20%">
                <!-- 70% Complete (danger) -->
              </div>
            </div>
            <div class="row question">
                <h1 class="h1" style="color:#000;" id="question"></h1>
            </div>

            <div class="row">
                <img class="questionImage" id="questionImage" alt=""></img> 
            </div>

            <div class="fixed-bottom" style="margin: 20px;">
                <div class="row">
                    <div class="col-md-6 text-center" style="height:5em;padding: 4px;">
                        <button id="A" name="singlebutton" class="btn btn-primary answer answer-A">A</button> 
                    </div>
                    <div class="col-md-6 text-center" style="height:5em;padding: 4px;">
                        <button id="B" name="singlebutton" class="btn btn-primary answer answer-B">B</button> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center" style="height:5em;padding: 4px;">
                        <button id="C" name="singlebutton" class="btn btn-primary answer answer-C">C</button> 
                    </div>
                    <div class="col-md-6 text-center" style="height:5em;padding: 4px;">
                        <button id="D" name="singlebutton" class="btn btn-primary answer answer-D">D</button> 
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div id="result" style="display:None;">
            <div class="pos-f-t">
              <nav class="navbar navbar-dark bg-dark">
                <div class="col-md-12 text-center">
                <h1 class="h1" style="color:#fff;" id="question-answer">Score</h1> 
                </div>
              </nav>
            </div>
            <div class="top-scoreboard">
                <div class="row">
                    <div class="col-sm-6">
                        <span id="top1" class="nameTop"></span>
                    </div>
                    <div class="col-sm-6">
                        <span id="score1" class="scoreTop"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <span id="top2" class="nameTop"></span>
                    </div>
                    <div class="col-sm-6">
                        <span id="score2" class="scoreTop"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <span id="top3" class="nameTop"></span>
                    </div>
                    <div class="col-sm-6">
                        <span id="score3" class="scoreTop"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <span id="top4" class="nameTop"></span>
                    </div>
                    <div class="col-sm-6">
                        <span id="score4" class="scoreTop"></span>
                    </div>
                </div>
            </div>
            <div class="answers-result">
                <%# <div class="progress answers-bar-bg">
                <div class="progress-bar progress-bar-striped progress-bar-score" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div> %>
                <div class="progress answers-bar-bg">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-score" id="countA" role="progressbar" style="width: 1%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    
                </div><span id="countAnswersA" class="count-text"></span>
                </div>
                <div class="progress answers-bar-bg">
                <div class="progress-bar progress-bar-striped bg-info progress-bar-score" id="countB" role="progressbar" style="width: 1%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    
                </div><span id="countAnswersB" class="count-text"></span>
                </div>
                <div class="progress answers-bar-bg">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-score" id="countC" role="progressbar" style="width: 1%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    
                </div><span id="countAnswersC" class="count-text"></span>
                </div>
                <div class="progress answers-bar-bg">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-score" id="countD" role="progressbar" style="width: 1%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    
                </div><span id="countAnswersD" class="count-text"></span>
                </div>
            </div>
            <%# <div>
                <span>A:</span>
                <span id="countAnswersA"></span>
            </div>
            <div>
                <span>B:</span>
                <span id="countAnswersB"></span>
            </div>
            <div>
                <span>C:</span>
                <span id="countAnswersC"></span>
            </div>
            <div>
                <span>D:</span>
                <span id="countAnswersD"></span>
            </div> %>
            <div class="row center">
                <div class="col-sm-12">
                    <button id="next" name="singlebutton" class="btn btn-primary">NEXT</button>
                </div>
            </div>
        </div>


    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-auth.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

    <script>

        // ...........................
        // validate author, not yet
        // ............................

        var socket = io.connect();
        const roomID = "<%= roomID%>";
        var questionNumber = 0;
        var questionsPackId = '<%= questionsPackId%>';

        $( "#next" ).click(requestQuestion);

        function requestQuestion()
        {
            questionNumber++;
            socket.emit('host',{
                state: 1,
                roomID:roomID,
                questionsPackId:questionsPackId,
                questionNumber:questionNumber.toString()
            });
        }

        function requestAnswerAndTopScore()
        {
            socket.emit('host',{
                state: 2,
                roomID:roomID,
                questionsPackId:questionsPackId,
                questionNumber:questionNumber.toString()
            });

        }

        socket.on('host',function(data){ 
            console.log('[INFO] Receive a socket. State',data.state);
            console.log('[INFO] Data: ', data)
            var state =data.state;

            if(roomID == data.roomID){
                if(state==1){
                    $("#playing").show();
                    $("#result").hide();
                    //reset progress bar
                    $("#progressBar").css('width','0%');
                    // $("#numPlayers").html(Object.keys(JSON.parse(data)).length.toString()+' players');
                    $("#A").html(data.a);
                    $("#B").html(data.b);
                    $("#C").html(data.c);
                    $("#D").html(data.d);
                    $("#questionNumber").html("Question " + questionNumber.toString());
                    $("#question").html(data.question);
                    $("#questionImage").attr('src', data.imageURL);
                    limit = parseInt(data.limit);
                    currentTime=0;
                    var p = setInterval(function(){
                        var percentage=currentTime/limit*100;
                        currentTime = currentTime + 1;
                        if(percentage<=100){
                            $("#progressBar").css('width',percentage.toString()+'%');
                        }
                    }, 1000);
                    setTimeout(function(){
                        clearInterval(p);
                        requestAnswerAndTopScore();
                        console.log('[] requestAnswerAndTopScore');
                    }, 1000*(limit+2));
                }else if(state==2 || state == 3){

                    $("#result").show();
                    $("#playing").hide();

                    for(let i=0; i<data.top.length; i++){
                        $("#top"+(i+1).toString()).html(data.top[i][0]);
                        $("#score"+(i+1).toString()).html(data.top[i][1]);
                    }
                    var answer = data.answer;
                    var countA = data.countAnswers.a;
                    var countB = data.countAnswers.b;
                    var countC = data.countAnswers.c;
                    var countD = data.countAnswers.d;

                    var Total = countA + countB + countC + countD + 1;

                    $("#countAnswersA").html(countA);
                    $("#countAnswersB").html(countB);
                    $("#countAnswersC").html(countC);
                    $("#countAnswersD").html(countD);
                    $("#question-answer").html("The answer is " + answer.toUpperCase());

                    $("#countA").css('width',(countA / Total * 100 + 1).toString()+'%');
                    $("#countB").css('width',(countB / Total * 100 + 1).toString()+'%');
                    $("#countC").css('width',(countC / Total * 100 + 1).toString()+'%');
                    $("#countD").css('width',(countD / Total * 100 + 1).toString()+'%');


                    if(state==3){
                        $("#next").html('BACK TO HOME');
                        $( "#next" ).click(function() {
                           window.location.href='/';
                        });
                    }
                }
            } 
            
        });

        // Running first mode
        requestQuestion();
    
    </script>

    </body>
</html>
