@import "../animation.css";

.waiting {
    margin-top: 10rem;
}

.loader {
    display: block;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3A3B3A;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.answers {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 80%;
}

.answers button {
    height: 30vh;
    width: 50%;
    color: white;
    font-weight: bolder;
    font-size: 28pt;
}

#result {
    color: white;
    text-align: center;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
}

.incorrect {
    background: red;
    height: 100vh;
}

#title1, #title2{
    text-align: center;
    color: black;
    font-family: 'Raleway', sans-serif;
}
#title2{
    font-size: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bgcolor {
    0% {
        background-color: #47d666
    }

    30% {
        background-color: #6cd654
    }

    60% {
        background-color: #9ad04c
    }

    90% {
        background-color: #c1df51
    }

    100% {
        background-color: #cbdd6e
    }
}

#endgame {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}